name: WakaTime status update

on:
  schedule:
    - cron: "0 */1 * * *"
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with WakaTime Stat
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_OS: "False"
          SHOW_PROJECTS: "False"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_LOC_CHART: "False"
          SYMBOL_VERSION: 2
          SHOW_LINES_OF_CODE: "True"
          SHOW_LANGUAGE_PER_REPO: "False"
